:root {
    --black: #292929;
    --gray: #848484;
    --white: #dedede;
    --green: #7fa650;
    --red: #ca3430;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    user-select: none;
}

button {
    width: 10vh;
    height: 10vh;
    color: inherit;
    background-color: inherit;
    outline: none;
    border: none;
    font-size: 5vh;
}

header {
    position: absolute;
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: space-around;

    color: var(--gray);
    background-color: var(--black);
}

main {
    height: 100vh;
    color: var(--black);
    background-color: var(--gray);
    text-align: center;
    line-height: 100vh;
}
main strong {
    font-size: 32vmin;
}

footer {
    width: 10vh;
    height: 10vh;
    position: relative;
    left: calc(50vw - 5vh);
    bottom: 20vh;

    text-align: center;
    color: var(--black)
}
